body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#dice-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dice {
    width: 60px;
    height: 60px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #21a1f1;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
